/*.gradient {*/
  /*background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);*/
/*}*/
.container{
  background-color: lightyellow;
}

.buttonRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bntColor {
background-color: #dadfea;
}

.courseInfo {
  /*display: flex;*/
  /*align-items: center;*/
  border-right: 1px solid black;

}

.headInfo {
  /*display: flex;*/
  /*border: 1px solid black;*/
  border-bottom: 1px solid black;
}

.playaFloss{
  display: flex;
  padding: 4px;
  border: 2px solid black;
  align-items: center;
  margin: 8px;
  border-radius: 2px;
}
