<!--The content below is only a placeholder and can be replaced.-->
<mat-card class="gradient">

  <mat-card-title>Golf</mat-card-title>
  <mat-card-actions>
    <div class="buttonRow">
      <button mat-raised-button color="primary" routerLink="start-game">Start Game</button>
      <button mat-raised-button color="primary">Create Account</button>
      <button mat-raised-button color="primary">Sign In</button>
    </div>
  </mat-card-actions>
  <img class="bgImage"mat-card-image src="Golf-Course.jpg">
</mat-card>
<!--<router-outlet></router-outlet>-->

