<!--The content below is only a placeholder and can be replaced.-->
<mat-card-title>Golf</mat-card-title>
<mat-card-actions>
  <div class="buttonRow">
    <button mat-raised-button color="primary" routerLink="">Home</button>
    <button mat-raised-button color="primary" routerLink="start-game">Start Game</button>
    <button (click)="loginBtn()" mat-raised-button color="primary">Sign In</button>
    <button (click)="logoutBtn()" mat-raised-button color="primary">Log Out</button>
  </div>
</mat-card-actions>
<router-outlet></router-outlet>
<!--<mat-card class="gradient">-->

  <!--<mat-card-title>Golf</mat-card-title>-->
  <!--<mat-card-actions>-->
    <!--<div class="buttonRow">-->
      <!--<button mat-raised-button color="primary" routerLink="start-game">Start Game</button>-->
      <!--<button mat-raised-button color="primary">Create Account</button>-->
      <!--<button mat-raised-button color="primary">Sign In</button>-->
    <!--</div>-->
  <!--</mat-card-actions>-->
  <!--<img class="bgImage"mat-card-image src="Golf-Course.jpg">-->
<!--</mat-card>-->
<!--&lt;!&ndash;<router-outlet></router-outlet>&ndash;&gt;-->

